@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply ml-4 px-3 py-2 rounded-md text-[1rem] leading-5 font-medium text-secondary font-semibold hover:bg-primary hover:text-white transition duration-150 ease-in-out cursor-pointer focus:outline-none focus:text-white focus:bg-gray-700;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.slide-in {
  @apply animate-slideIn;
}

.slide-out {
  @apply animate-slideOut;
}

.animate-slideIn {
  animation: slideIn 0.5s ease-in-out forwards;
}

.animate-slideOut {
  animation: slideOut 0.5s ease-in-out forwards;
}
